/* geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', 'cursive';
    color: #fff;
    border: none;

}

input, label{
    display: block;
    width: 100%;
}

input:focus, label:focus{
    outline: none;
}


input::placeholder{
    background-color: dimgray;
    color: #fff;
    font-size: 14px;
}

a {
    color: #E60084;
}

body{
    padding-top: 5vh;
    background-image: linear-gradient(to right, rgba(105,105,105), rgba(220,220,220));
    padding-bottom: 5vh;
    opacity: 0.9;
}

/* form */

#main-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: dimgray;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 6px 6px 6px #4F4F4F;
    opacity: 0.9;
}

#main-container h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box{
    flex: 1 1 100%;
    position: relative;
}

.half-box{
    flex: 1 1 45%;
    position: relative;
}

.spacing{
    margin-right: 2.5%;
}

label{
    font-size: 16px;
    color: #fff;
    opacity: 0.9;
}

input{
    border-bottom: 2px solid #fff;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
    background-color: transparent
}

textarea:focus, input:focus{
    border-color: #808080;
    background-color: dimgray;
}

input[type="submit"]{
    background-color: #808080;
    box-shadow: 6px 6px 6px #4F4F4F;
    color: #e1e1e1;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
}

#agreement, #agreement-label{
    display: inline-block;
    width: auto;
}

.erro-validation{
    color:#ff1a1a;
    position: absolute;
    top: 57px;
    font-size: .8rem;
}

.template{
    display: none;
}